a {
color:#2397E2;
font-family: 'Century Gothic', sans-serif;
}

p{
text-size:12px;
font-family: 'Century Gothic', sans-serif;
}

h1{
text-size:30px;
color:#2397E2;
font-family: 'Century Gothic', sans-serif;
}

h2{
text-size:40px;
color:#2397E2;
font-family: 'Century Gothic', sans-serif;
}

h3{
text-size:20px;
color:#2397E2;
font-family: 'Century Gothic', sans-serif;
}

h4{
text-size:30px;
color:#2397E2;
font-family: 'Century Gothic', sans-serif;
}

h5{
text-size:30px;
color:#2397E2;
font-family: 'Century Gothic', sans-serif;
}

.topnavbusinessname{
padding:10px;
font-size: 40px;
font-family: 'Century Gothic', sans-serif;
font-weight: bold;
color:#2397E2;
}

.topnavmenu{
margin-right: 20px;
 text-color: #585858;
text-align:right;
  font-size: 12px;
  padding: 10px;
  padding-top: 35px;
  text-transform: uppercase;
  font-weight: 300;
 background-color: inherit;
  border: 0;
  color:#00aeef;
}

.textdefault{
padding:10px;
font-family: 'Century Gothic', sans-serif;
}

.imagedefault{
padding:20px;
}

.bottomnav{
padding:20px;
text-align:center;
color:#2397E2;
text-size:30px;
}

.topimage {
max-width:100%;
width:100%;
}