.btn-default:hover {
  background: #e88516;
  color: #fff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.btn-primary:hover {
  background: #e88516;
  border: none;
}

.body1 {
  overflow: hidden;
}
.div19 {
  text-align: center;
}
.img-responsive2 {
  max-height: 40px;
  height: 40px;
  width: 100%;
}
.login {
  background-image: linear-gradient(135deg, #27462b 21%, #18c4be 101%);
}
.square {
  position: fixed;
  left: -370px;
  top: -72px;
}
.dot {
  position: absolute;
  top: 50%;
  left: 10%;
}
.div19 {
  width: 400px;
  /* margin: 16px auto; */
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: #fff;
  border-radius: 30px;
}
.div19 .img-responsive {
  width: 200px;
  margin: 0 auto;
}
.txt {
  font-weight: 100;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.submitBtn {
  margin-top: 30px;
  width: 100%;
  background: #e88516;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 3px 5px #00000063;
}
.div19 .remember {
  margin-top: 20px;
}
.div19 .left {
  float: left;
  font-size: 14px;
}
.div19 .right {
  float: right;
  text-decoration: underline;
  font-size: 14px;
}
.div19 .right a {
  color: #fff;
}
/* .div19 .form-group label {
  padding: 0 10px;
  position: absolute;
  left: 8px;
  top: 10px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #fff;
  font-size: 13px;
} */
.form-group {
  position: relative;
}
.div19 .form-group input,
.form-control {
  background-color: #fff0;
  border-bottom: 1px solid #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  outline: 0;
  color: #fff;
  padding: 0px 38px 0px 0px;
  height: 43px;
}
.left input {
  height: 12px !important;
  margin: 0;
}
.div19 .form-control:focus {
  box-shadow: none;
}
.div19 ::placeholder {
  color: rgb(255, 255, 255); /* Firefox */
}

.div19 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

.div19 ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255);
}
.div19 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(255, 255, 255);
}
select option {
  background: #1d3e34;
}
.login .pl {
  padding: 0 3px !important;
}
.remember input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 6px;
  height: 11px;
  border: solid #fdfeff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  top: -3px;
}
.remember label {
  position: relative;
}
.remember #html {
  -webkit-appearance: none;
  border: 0px;
  padding: 0px;
}
label {
  font-weight: 100;
}
@media (max-width: 1024px) {
  .square {
    display: none;
  }
}
@media (max-width: 400px) {
  .div19 .right {
    float: none;
  }
  .div19 .left {
    float: none;
  }
}
