<head><title>Home</title><meta name='Home' content=''><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>  <link rel = 'stylesheet' type = 'text/css' href = 'main.css' /></head><body><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin:0px;">
		  		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-3" style="padding:0px;margin:0px;">
            		<div class='topnavbusinessname'>Tristom Labs</div>   
           	</div>                     
        		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-9" style="padding:0px;margin:0px;">
        			<div class='topnavmenu'><a href='index.html'>Home</a>   
<a href='products.html'>Products</a>   
<a href='aboutus.html'>About Us</a>   
<a href='resellers.html'>Resellers</a>   
<a href='contactus.html'>Contact Us</a>
</div>   
        		</div>
        	</div> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin:0px;">
            <div class='topimage'><img src='asset/404-bg.png' style='max-width:100%'></div>                        
        	</div> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin:0px;">
            <div class='textdefault'><h2>We develop business technology products</h2>

<p>Welcome to Tristom Labs, the home of OneBusiness, OneECommerce, and OneCustomer. Our platforms provide businesses with a cost efficient, software-as-a-service, enterprise scale solution. Options are available for small, medium, and large enterprice organisations, through one of our reseller partners.</p></div>                     
        	</div> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin:0px;">
		  		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px;margin:0px;">
            		<div class='imagedefault'><img src='asset/image1.png'></div>   
           	</div>                     
        		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px;margin:0px;">
        			<div class='textdefault'><h2>OneBusiness</h2>
Create your own business application using our inbuilt utilities. Create forms, data grids, reports, dashboard, and data views. Preconfigured with over 60 applications that you can edit/alter based on your requirements. Examples include financial management, stock management, employee/salary management, and timesheet management.
<br/>
<ul> 
<li>Can be preconfigured with up to 60 applications.</li>
<li>Complete flexibility to create your own data structures and applications, with no coding experience needed.</li>
<li>Build your own dashboards/reports from your data.</li>
<li>All of your employees can be given access.</li>
</ul>
<a href='http://www.google.com'>Read More about OneBusiness</a><br/>
<a href=''http://www.google.com>Read More about our implementation partners</a>
</div>   
        		</div>
        	</div> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin:0px;">
		  		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px;margin:0px;">
            		<div class='textdefault'><h2>OneE-Commerce</h2>

E-Commerce platform designed to allow e-commerce companies to sell their products online. Easy to install, with online sign-up and low monthly costs, makes this ideal for startup e-commerce businesses. Can also be used by established e-commerce businesses, and custom integrations can be built into existing business applications. Integrates with OneBusiness, so that you can connect your stock management, and warehouse management straight into your e-commerce platform.

<ul><li>Upload/creation of thousands of product variants.</li>
<li>Online e-commerce payment processing.</li>
<li>Customise look and feel of consumer e-commerce website.</li>
<li>Extensive e-commerce reporting and dashboard.</li></ul>
<a href='www.google.com'>Read More about OneE-Commerce</a><br/>
<a href='www.google.com'>Read More about our implementation partners</a></div>   
           	</div>                     
        		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px;margin:0px;">
        			<div class='imagedefault'><img src='asset/image2.png'></div>   
        		</div>
        	</div> <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;margin:0px;">
            <div class='bottomnav'><h2>© Tristom Labs Ltd 2016. All Rights Reserved.</h2></div>                     
        	</div></body>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-105842872-1', 'auto'); ga('send', 'pageview');