@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
button:focus {
  outline: 0px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #19bcb4;
  border-color: #19bcb4;
}
.btn-primary {
  color: #fff;
  background-color: #19bcb4;
  border-color: #19bcb4;
  border: 0px;
  padding: 5px 15px;
  border-radius: 5px;
}
.btn-default {
  color: #19bcb4;
  background-color: #f5f5fb;
  border-color: #f5f5fb;
  border: 0px;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #19bcb4;
  border-color: #19bcb4;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #19bcb4;
  border-color: #19bcb4;
  box-shadow: none;
}
.app .box {
  height: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 3px 7px 1px #e1e1e1;
  background: #fff;
  padding: 15px;
}
.app .box p {
  font-size: 15px;
}
.app .box p span {
  color: #1fa9a3;
}
.line {
  background: #e1e1e1;
  height: 2px;
  width: 100%;
  margin: 10px 0px;
}
.content {
  background: #f5f5fb;
}
.txt_1 {
  margin-top: 20px;
}
.txt_2 {
  margin: 0;
  color: #6b7897;
  font-size: 25px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.exp .left_click {
  display: none;
}
.main_logout {
  text-align: center;
}
.box {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*==================== homepage=================== */
.login_name {
  width: 100%;
  height: 160px;
  padding: 9px 31px 14px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: left;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-shadow: 4px 3px 7px 1px #e1e1e1;
  background-image: linear-gradient(311deg, #27462b, #19beb7);
}
.login_name img {
  position: absolute;
  right: 0;
}
.name {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
}
.txt {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
}
@media (max-width: 991px) {
  .name {
    font-size: 25px;
  }
}
/*==================== homepage=================== */

/*===================== reports ========================== */
.reports .head_title {
  color: #6b7897;
  font-size: 25px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.reports .gj-datepicker-bootstrap [role="right-icon"] button {
  width: 38px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}
.reports .right {
  float: right;
  color: #808ea9;
}
.reports .edit_icon {
  position: absolute;
  bottom: 8px;
  right: -3px;
  background: #19bcb4;
  color: #fff;
  border-radius: 50%;
  padding: 5px 9px;
}
.reports .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reports .request {
  background: #e1e1e1;
  padding: 5px 10px;
  border-radius: 5px;
  color: #19bcb4;
  margin: 0;
}
.reports .profile {
  position: relative;
  overflow:inherit;
  width: 100px;
  height: 100px;
}
.reports .btn1 {
  width: 133px;
  height: 30px;
  margin: 0 10px 0 0;
  border-radius: 7px;
  color: #fff;
  background-color: #19bcb4;
  border: none;
}
.reports .btn2 {
  width: 133px;
  height: 30px;
  margin: 0 10px 0 0;
  border-radius: 7px;
  color: rgb(10, 10, 10);
  border: 1px solid #19bcb4;
  background-color: #fff;
}
.reports .box {
  height: 58px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5fb);
  margin-left: 2px;
  margin-right: 2px;
}
.reports .box p {
  margin: 0;
}
/* .reports .gj-icon {
  color: #fff;
  background: #19bcb4;
  padding: 8px;
} */
/* .reports .gj-datepicker-bootstrap [role="right-icon"] button .gj-icon,
.gj-datepicker-bootstrap [role="right-icon"] button .material-icons {
  top: 0px;
  left: 0;
} */
.reports .input-group-addon {
  color: #fff;
  background-color: #19bcb4;
}
.reports .sub_box ul {
  list-style: none;
  padding: 0;
}
.reports .sub_box ul li {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.reports .main_box {
  background: #f5f5fb;
  padding: 20px;
  border-radius: 20px;
}
.reports .box_1 {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.reports .message {
  background: #f5f5fb;
  height: 350px;
  display: flex;
  overflow: scroll;
  position: relative;
}
.reports .box_2 {
  width: calc(100% - 80px);
  word-break: break-all;
  border: 1px solid #b4b4bb;
}
.reports .box_2 h5 {
  background: #097e78;
  color: #fff;
  padding: 10px 10px;
  margin: 0;
}
.reports .wd160 {
  width: 116px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #a9a1a1;
  height: 27px;
}
.reports .width {
  padding: 15px;
}
.reports .center {
  justify-content: center;
  align-items: center;
}
.reports .h-20 {
  height: 500px;
}
.reports .form_background {
  background: #f5f5fb;
    padding: 35px;
    border-radius: 20px;
}
.reports .form_background .form-control {
  background: #fff;
  border: 1px solid #000;
}
.reports .modal-content {
  position: relative;
  background-color: #130e0e;
  color: #fff;
}
.reports .modal-content span {
  color: #fff;
  opacity: none;
}
.reports .modal-content .modal-body {
  display: flex;
  justify-content: center;
}
.reports .modal-content .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reports .modal-content .modal-footer .btn-primary {
  background: none;
  border: none;
}
.reports .modal-content .modal-footer .fa {
  font-size: 22px;
  margin-right: 10px;
}
.reports .form-select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #a9a1a1;
  height: 27px;
}
.reports .off {
  border: 1px solid #19bcb4;
    padding: 3px 4px;
    border-radius: 36px;
    color: #19bcb4;
}
.reports .side_padding {
  padding: 0px 5px;
}
.reports .box_1::-webkit-scrollbar {
  width: 10px;
  background: #d7dfde;
  border-radius: 8px;
}
.reports .box_1::-webkit-scrollbar-thumb {
  background: #097e78;
  border-radius: 8px;
}
@media (max-width: 1180px) {
  .reports .width {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .reports .btn1,
  .reports .btn2 {
    width: 60px;
  }
  .reports .modal-content .modal-footer {
    display: block;
    text-align: left;
  }
  .reports .box {
    text-align: center;
    height: 80px;
  }
  .reports .head_title {
    text-align: center;
  }
  .reports .text-right {
    text-align: center !important;
  }
  .reports .heading {
    display: block;
    margin-bottom: 20px;
  }
}
/*===================== reports ========================== */

/*===================== Dashboard ========================== */
.dashboard .light_font {
  font-weight: 200;
}
.dashboard .form-control {
  border: 1px solid #19bcb4 !important;
  border-right: 0px;
  background: #fff !important;
}
@media (max-width: 576px) {
  .dashboard .txt_2 {
    margin-bottom: 10px;
  }
}
/*===================== Dashboard ========================== */

/*===================== add function ========================== */
.back_board {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}
.add i.fa.fa-question-circle {
  color: #19bcb4;
  font-size: 20px;
  margin-top: 20px;
}
.add .col-sm-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reports .form-control,
.add .form-control {
  background-color: #f5f5fb;
  border: none;
  box-shadow: none;
}
.add .input-group-addon {
  color: #fff;
  background-color: #19bcb4;
  cursor: pointer;
}
.text-right img {
  cursor: pointer;
}
@media (max-width: 991px) {
  .add .txt_2 {
    font-size: 14px;
    line-height: 20px;
  }
}
/*===================== add function ========================== */

/*===================== edit function ========================== */
.edit .btn-primary {
  text-transform: capitalize;
  font-size: 11px;
}
.edit .txt_3 {
  display: inline;
  margin-right: 20px;
  color: #6b7897;
}
#submitsearch {
  border: 1px solid rgb(138, 134, 134);
  margin-left: -82px;
  padding: 5px;
  border-radius: 19px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 4px;
  display: none;
  box-shadow: 0 0 1px black;
  margin-right: 110px;
}

#searchInput {
  border: 0px solid #494958;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f5f5fb;
  background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png);
  background-position: 8px 4px;
  background-repeat: no-repeat;
  padding: 4px 20px 4px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;
}
.edit .page {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}
.edit .table .thead-dark th {
  color: #fff;
  background-color: #6b7897;
  border-color: #6b7897;
  text-align: center;
}
/* dots  */
.edit .menu-nav {
  display: flex;
  justify-content: space-between;
}

.edit .menu-item {
  color: #FCC;
  padding: 3px;
}

.edit .three-dots:after {
  cursor: pointer;
  color: #FCC;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}



.edit .menu-nav a div {
  padding: 2px;
}
.edit .cont {
  background: #fff;
  border-radius: 5px;
  width: 108px;
  position: relative;
  z-index: 1;
  padding: 3px;
  overflow: auto;
}
.edit .cont a:hover {
  background: lightseagreen;
  display: block;
  color: #fff;
}

.edit .menu-nav .dropdown {
  position: absolute;
  left: 0px;
  top: -37px;
  text-align: left;
  border-radius: 5px;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height: 5s;
}

.edit .dropdown-container:focus {
  outline: none;
}

.edit .dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height: 0.2s;
}
/* dots  */
.reports .big_box ul {
  list-style: none;
  padding: 0;
}
.reports .big_box li:nth-child(even) {
  background: #f5f5fb;
}
.reports .big_box li{
  background: #fff;
  padding: 5px;
}
.reports .big_box::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5fb;
  border-radius: 10px;
}
.reports .big_box::-webkit-scrollbar-thumb {
  background: #097e78;
  border-radius: 10px;
}
.reports .big_box {
  overflow-y: scroll;
  height: 450px;
}
.edit .page p {
  display: inline;
}
.edit .icon {
  display: inline;
}
.edit .icon .fa {
  color: #19bcb4;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  background: #f6f6fb;
  border-radius: 50%;
  padding: 3px 8px;
}
.edit i.fa.fa-cog {
  color: #19bcb4;
}
.edit .dot {
  background: #19bcb4;
  color: #fff;
  /* display: flex; */
  font-size: 23px;
  cursor: pointer;
  width: 20px;
  justify-content: center;
  align-items: center;
}
.edit .dot:visited {
  background: #000;
  outline: none;
}

.edit .table > td > td {
  font-size: 12px;
  padding: 2px;
}
.edit .table tbody {
  padding: 0;
}
.edit .table tr td:nth-child(1) {
  padding: 0;
  position: relative;
  display: flex;
}
.edit .txt_no {
  text-align: center;
  margin: 8px auto;
}
.edit .table tr:nth-child(even) {
  background: #f5f5fb;
}
.edit .table-bordered td {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}
.edit .edit_menu ul {
  list-style: none;
  padding: 0;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  border-bottom-left-radius: 0px;
  box-shadow: 6px 7px 10px #dad2d2;
}
.edit .edit_menu {
  position: absolute;
  top: -47px;
  left: 10px;
}
.edit .edit_menu li {
  padding: 6px 51px 6px 20px;
  font-size: 12px;
}
.edit .table tfoot tr {
  background: #6b7897;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.edit .table tfoot th {
  text-align: center;
  }
.edit .edit_menu ul li:hover {
  background: #19bcb4;
  color: #fff;
}
.edit .border_1 {
  width: 0;
  height: 0;
  border-top: 10px solid rgb(255, 255, 255);
  border-right: 10px solid transparent;
  margin-top: -3px;
}
.edit .edit_click,
.edit_click1,
.edit_click2,
.edit_click3,
.edit_click4,
.edit_click5 {
  display: none;
}
span.on {
  background: #bce46e;
  padding: 5px 10px;
  border-radius: 20px;
  color: #6b7897;
}
.table-responsive::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 6px;
}
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #19bcb4;
}

.more-menu {
  width: 100px;
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.more-dot {
  background-color: #ffffff;
  margin: 0 auto;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 1px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.edit_menu1 .background {
  background: #19bcb4;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-size: 12px;
}

.more-menu {
  position: absolute;
  top: 50px;
  z-index: 900;
  float: right;
  right: 15px;
  padding: 10px 0;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccd8e0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: translate(0, 15px) scale(0.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}
.edit_menu1 .head_txt {
  color: #6b7897;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more-menu-caret {
  position: absolute;
  top: -9px;
  left: 80px;
  width: 18px;
  height: 10px;
  float: left;
  overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
  position: absolute;
  display: inline-block;
  margin-left: -1px;
  font-size: 0;
  line-height: 1;
}

.more-menu-caret-outer {
  border-bottom: 10px solid #c1d0da;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}

#more-btn {
  transform: rotate(90deg);
}
.more-menu-caret-inner {
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.more-menu-items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.more-menu-item {
  display: block;
}

.more-menu-btn {
  min-width: 100%;
  color: #66757f;
  cursor: pointer;
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 20px;
  position: relative;
  white-space: nowrap;
}
.edit_menu .more {
  display: inline-flex;
  float: right;
}
.more-menu-item:hover {
  background-color: #6b7897;
}
.edit_menu1 .paragraph {
  word-break: break-all;
}
.more-menu-item:hover .more-menu-btn {
  color: #fff;
}

.show-more-menu .more-menu {
  opacity: 1;
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}
.card {
  display: grid;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 5px;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2px;
  color: white;
}
.edit_menu1 {
  background: #fff;
  padding: 20px 0px;
}

.card-content {
  padding: 1em;
}
.card p {
  margin: 0;
}

.card-content ul {
  margin: 5px auto auto 25px;
}

#company-top {
  background-color: #6b7897;
}
.edit_menu1 .input-group-addon {
  color: #fff;
  background-color: #19bcb4;
  cursor: pointer;
}
@media (max-width: 991px) {
  .edit .text-right {
    text-align: inherit !important;
  }
  .edit #filterDate2 {
    margin-bottom: 10px;
  }
  .edit .txt_2 {
    text-align: center;
  }
  .edit .col-sm-2 {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media (max-width: 575px) {
  .card p {
    font-size: 12px;
    margin-left: 13px;
  }
  #searchInput {
    width: 100%;
  }
}
/*===================== edit function ========================== */

#pageWrapper {
  float: left;
}

@media screen and (max-width: 984px) {
  #pageWrapper {
    width: 98%;
    margin: 1% auto;
  }
}
/* END OF BOILERPLATE */
.dateRangeWrapper {
  width: 268px;
}
.shortInputField {
  width: 90%;
  padding: 4px;
}
/* .dateRangeField {
  padding-right: 40px;
} */
.dateRangeWrapper:after {
  position: relative;
  right: 30px;
  top: 2px;
  font-family: "Ionicons";
  content: "\f117";
  font-size: 1.429rem;
  line-height: 1.714rem;
  pointer-events: none;
}
.ui-datepicker.ui-datepicker-multi {
  width: auto;
  z-index: 9999 !important;
}
@media screen and (max-width: 984px) {
}
@media screen and (max-width: 580px) {
  .shortInputField {
    width: 100%;
  }
  .dateRangeWrapper {
    position: relative;
  }
  .dateRangeWrapper:after {
    position: absolute;
    right: 10px;
    top: 6px;
  }
}

/* datepicker css  */
.ui-datepicker .ui-datepicker-prev {
  right: 29px;
  left: auto;
}
.ui-datepicker .ui-datepicker-title {
  text-align: left;
  margin: 12px;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  background: #fff;
  border: none;
  font-size: 11px;
  color: #8c8080;
}
.ui-datepicker tr {
  color: #bbb7b7;
  font-size: 11px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 14px;
}
.ui-widget-header .ui-icon {
  background-image: url(../img/icons/ui-icons_222222_256x240.png);
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-weight: normal;
  color: #555555;
  border-radius: 107%;
  padding: 9px 9px;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #19bcb4;
  font-weight: normal;
  color: #f7f7f7;
}
.dateRangeWrapper:after {
  position: relative;
  left: 212px;
  top: -26px;
  content: "\f107";
  font-family: "FontAwesome";
  background: #19bcb4;
  pointer-events: none;
  padding: 10px;
  color: #fff;
}
/* datepicker css  */
