.dekstop {
  display: none;
}
.header {
  display: block;
}
.header_profile {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
  overflow: hidden;
  float: right;
}
@media (max-width: 991px) {
  .dekstop {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: none;
  }
}
