@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.fa-2x {
font-size: 2em;
}
.fa-2x {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
.link img {
    margin-left: 10px;
}
.dropdown {
    padding-left: 12px;
    padding-right: 20px;
    margin-top: 10px;
    float: left;
    color:#999;
    cursor: pointer;
}

.navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 0;
}

 .navbar-nav .nav-link {
    display: flex;
    align-items: center;
   
}
.main-menu::-webkit-scrollbar {
    width: 1px;
    background-color: #e1e1e1;
}
.left-menu::-webkit-scrollbar {
    width: 1px;
    background-color: #e1e1e1;
}
 .navbar-nav .nav .nav-link {
    padding-left: 6.25rem;
}

.navHeading {
    padding-left: 0.35rem;
}
.navPagesSub .nav-item .nav-link {
    padding-left: 3.25rem!important;
}

.main-menu li>a {
    display: flex !important;
}
.main-menu li:hover>a, nav.main-menu li.active>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #a6a6a6;
    border-right: 5px solid #19bcb4;
}
/* .main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
} */
nav.main-menu.expanded {
width:250px;
overflow-y:scroll;
overflow-x: hidden;
}
nav.left-menu.exp {
width:250px;
overflow:scroll;
overflow-x: hidden;
}

.arrow {
    right: 0;
    position: absolute;
    top: 7px;
    color: #4ca95c;
    cursor: pointer;
}
.mt-5 {
    margin-top: 30px;
}
.main-menu {
background: #ffffff;
box-shadow: 8px 0px 11px #423e3e38;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

/* .main-menu>ul {
margin:7px 0;
} */

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
.dropdown-divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.link {
    background: #e1e1e1;
    padding: 10px 0px 1px 0px;
    text-align: center;
    color: #6a6a6a;
}
li .nav-item .active { 
    background-color: #C0C0C0; 
    color: green; 
} 
/* left   */
.left-menu {
    background: #ffffff;
    box-shadow: -8px 0px 11px #423e3e38;
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    right:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;

    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    }
    .left-menu li {
        position:relative;
        display:block;
        width:250px;
        }
        .left-menu li>a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #999;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1,1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }
        nav.left-menu.expanded {
            width:250px;
            overflow:visible;
            }
            .profile {
                width: 50px;
                height: 50px;
                margin-left: 5px;
                border-radius: 50%;
                overflow: hidden;
            }
            span.notification {
                background: #ea1f1f;
                padding: 4px 8px;
                color: #fff;
                border-radius: 50%;
                position: relative;
                left: 30px;
                top: -12px;
            }
            .left-menu .logout {
                display: none;
            }
            nav.left-menu.exp .logout {
                display: block;
                overflow: hidden;
            }
            .logout .profile {
                margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 100px;
            }
            .pl {
                padding-left: 20px;
    padding-right: 20px;
    float: left;
    color: #999;
    margin-top: -7px;
            }
.main_logout p:nth-child(1) {
    font-size: 14px;
    color: #6a6a6a;
    font-family: 'Roboto', sans-serif;
}
/* left   */

@media (max-width:991px) {
    .main-menu, .left-menu {
        width: 0px;
    }
    .dropdown {
        padding-left: 32px;
        padding-right: 20px;
        margin-top: 5px;
        float: left;
        color: #999;
    }
    .overlay {
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: rgba(0,0,0,.5);
      }
}